.sous-titre{
    width: 50%;
    height: 50px;
    font-size: 30px;
    text-align: center;
    font-family: cursive;
    background-color: #000;
    color: white;
}
.milieu
{
    display: block;
}
.images
{
    width: 122%;
    height: 103%;

}
.image{
    width: 120%;
    height: 100%;
}
.titre{
    font-family:fantasy;
    font-weight: bolder;
    font-size: 70px;
    text-align: center;

}

#redimentionner{

    width : 25%;
    height : 25%;
}
.imgs{
    width: 300%;
    height: 400px;
    padding-right: 200%;
}
.imgss{
    width: 100%;
    height: 400px;
}
.imgsss{
    width: 200%;
    height: 400px;
    padding-right: 100%;
}