body
{
background-image: url(../image/rapido.jpg);
width: 100%;
height: 100%;
background-size: 100% 100%;
}
#jeu
{
    display: flex;
}
#tableauGrilleA
{
    width: 400px;
    height: 300px;
}
#tableauOrdiA
{
    width: 400px;
    height: 300px;
}
#nbOrdinateur
{
    display: inline-block;
}
#nbChoisie
{
    height: 220px;
    width: 50%;
    text-align: right;
}
#bon
{
    font-size: 100px;
    text-align: center;
    visibility: hidden;
    background-color: yellow;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    font-family: cursive;
    align-items: center;
    justify-items: center;
    float: right;  
}
input
{
    width: 300px;
    height: 100px;
    font-size: 40px;
    text-decoration: underline;
    font-family: cursive;
    align-items: center;
    border: solid 5px black;
    display: block;
    background-color: royalblue;
    color: white;
    padding: 10px;
    text-align: center;
    justify-content: center;
    margin: 10px auto;
    margin-bottom: 10px;
}
.bouton
{
width: 26px;
height: 26px;
text-align: center;
font:11pt monospace;
border: 3px solid black;
background-color: red;
color: white;
display: inline-flex;
justify-items: center;
align-items: center;
margin: 3px;
transition:all 0.3s ease;
}

.zbouton
{
    width: 26px;
    height: 26px;
    text-align: center;
    font:11pt monospace;
    border: 3px solid black;
    background-color: red;
    color: white;
    display: inline-flex;
    justify-items: center;
    align-items: center;
    margin: 3px;
}
.nbouton
{
    width: 26px;
    height: 26px;
    text-align: center;
    font:11pt monospace;
    border: 3px solid black;
    background-color: red;
    color: white;
    display: inline-flex;
    justify-items: center;
    align-items: center;
    margin: 3px; 
    color: black;
}





#btnEtoile
{
    text-align: center;
    justify-items: center;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 100px;
    font-size: 40px;
    text-decoration: underline;
    font-family: cursive;
    border: solid 5px black;
    background-color: royalblue;
    color: white;
    display: flex;
}
#btnNouvellePartie
{
    visibility: hidden;
    text-align: center;
    justify-items: center;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 100px;
    font-size: 40px;
    text-decoration: underline;
    font-family: cursive;
    border: solid 5px black;
    background-color: royalblue;
    color: white;
    display: flex;
}